MONGODB_URI='mongodb+srv://naza:yn7koxZweF7p9rpp@cluster0.gcvvq.mongodb.net/saloneydb?retryWrites=true&w=majority'
MAILGUN_APIKEY='63f7d0ea4439b21fad87d620d24e1152-2fbe671d-a4da2dbd'
NODE_ENV='development'
JWT_ACC_ACTIVATE="accountactivatekey123"
CLIENT_URL="localhost:3000"
EMAIL_NAME="noreply@saloney.com"
API_PORT=3000
JWT_KEY="nazaaa"
JWT_COOKIE_EXPIRE=
JWT_SECRET=
JWT_EXPIRE=
CLOUDINARY_CLOUD_NAME=saloney
CLOUDINARY_API_KEY=996346525813742
CLOUDINARY_API_SECRET= Pb_HyYWpeDDJEquk4d-z8FzJQYo